@mixin mono {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    
}
@mixin desa {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    
    
}